<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="pl"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      th:fragment="layout(content)">
<head>
    <title th:text="${pageTitle} ?: 'AI Dictionary'">AI Dictionary</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="apple-touch-icon" th:href="@{/img/apple-icon.png}">
    <link rel="shortcut icon" type="image/x-icon" th:href="@{/img/favicon.ico}">

    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet">

    <link th:href="@{/css/boxicon.min.css}" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600&display=swap" rel="stylesheet">

    <link rel="stylesheet" th:href="@{/css/templatemo.css}">

    <link rel="stylesheet" th:href="@{/css/custom.css}">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
    <link rel="stylesheet" th:href="@{/main.css}">
</head>

<body>
<header th:insert="~{blocks/header :: header}"></header>
<main th:insert="${content}">
</main>

<footer th:insert="~{blocks/footer :: footer}"></footer>
<script th:src="@{/js/bootstrap.bundle.min.js}"></script>

<script th:src="@{/js/jquery.min.js}"></script>

<script th:src="@{/js/isotope.pkgd.js}"></script>

<script>
    $(window).load(function() {
        // init Isotope
        var $projects = $('.projects').isotope({
            itemSelector: '.project',
            layoutMode: 'fitRows'
        });
        $(".filter-btn").click(function() {
            var data_filter = $(this).attr("data-filter");
            $projects.isotope({
                filter: data_filter
            });
            $(".filter-btn").removeClass("active");
            $(".filter-btn").removeClass("shadow");
            $(this).addClass("active");
            $(this).addClass("shadow");
            return false;
        });
    });
</script>
<script th:src="@{/js/templatemo.js}"></script>

<script th:src="@{/js/custom.js}"></script>

<script th:src="@{/js/search.js}"></script>

</body>
</html>