<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="pl"
      th:replace="~{layout/main :: layout(content=~{::content})}">

<section th:fragment="content">
  <p class="fs-4 fw-light mt-3 text-center">
    Wprowadź słowo po angielsku lub po polsku
  </p>

  <form class="d-flex justify-content-center" role="search" th:action="@{/search}">
    <input name="query" type="search" id="searchInput" class="form-control"
           style="max-width: 800px;" placeholder="Szukaj..." aria-label="Search" autocomplete="off">
  </form>

  <ul id="resultsList" class="list-group mt-3"></ul>
</section>

</html>